:root {
    --bluue:#00669F;

}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px;
}

.iconoMas {
    position:fixed;
    top: 50%;
    right: 32px;
    height: 80px;
    width: 80px;
    text-align: right;
    z-index: 99999;
}


header p  {
    background-color: #1CD1B0;
    color: black;
    height: 38px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    margin: 0%;
}

header h1 {
    background-color: var(--bluue);
    color: black;
    display: block;
    height: auto;
    height: 101px;
    padding-top: 28px;
    padding-left: 28px;
    padding-bottom: 26px;
    margin: 0px;
    box-shadow: 0px 10px 7px 0px #00000040;
    margin-bottom: 154px;
}

main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

main div {
    display: flex;
    align-items: center;
}

main article {
    width: 300px;
    height: auto;
    border-radius: 16px 16px 0px 0px;
    background-color: #F3F3F3;
    margin: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-self: stretch;

}

main article div {
    height: 193px;
    position: relative;
    background-size: cover;
}

.batman {
    background-image: url("./img/BatmanFondo.png");
}

.maravilla-Img {
    width: 120px;
}

.maravilla {
    background-image: url("./img/MaravillaFondo.png");
}

.superman-Img {
    width: 120px;
}

.superman {
    background-image: url("./img/SupermanFondo.png");
}


.harley {
    background-image: url("./img/HarleyFondo.png");
}


main article p {
    text-align: left;
    font-size: 16px;
    padding: 0px 17px 37px 16px;
    margin: 0%;
}

main article a button {
    background-color: var(--bluue);
    color: white;
    font-size: 15px;
    width: 128.78px;
    height: 48.52px;
    margin-bottom: 18.48px;
    
}

main article h2 {
    padding-bottom: 0px;
    margin-top: 74px;
}

.icon {
    position: absolute;
    top: 128px;
    left: 90px;
    border-radius: 50%;

}

.move {
    position: absolute;
    top: 14px;
    left: 21px;
    
}

footer {
    background-color: var(--bluue);
    height: 51px;
    margin-top: 151px;
}

footer p {
    color: white;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}



@media (min-width: 767px) and (max-width: 1024px) {
    .tabDiv {
        width: 50%;
        justify-content: center;
    }

    main {
        justify-content: space-evenly;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .mobDiv  {
        width: 100%;
        justify-content: center;
    }

}